{% extends 'base.html.twig' %}

{% block page_title 'Admin Dashboard' %}
{% block title 'Admin Dashboard' %}

{% block body %}
    Hello {{ app.user.firstname }} {{ app.user.lastname }}

    <ul>
    {% for user in users %}
        <li>
            <a href="{{ path('user_profile', {'id': user.id}) }}">{{ user.firstname }} {{ user.lastname }} - {{ user.email }}</a>
            <a href="{{ path('user_delete', {'id': user.id}) }}">delete</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
