{% extends 'base.html.twig' %}

{% block page_title 'My Profile' %}
{% block title 'My Profile' %}

{% block body %}
    <ul>
        <li>First name: {{ app.user.firstname }}</li>
        <li>Last name: {{ app.user.lastname }}</li>
        <li>Email: {{ app.user.email }}</li>
        <li>Birthday: {{ app.user.birthday|date }}</li>
        <li>Created at: {{ app.user.createdAt|date }}</li>
        <li>Updated at: {{ app.user.updatedAt|date }}</li>
    </ul>
{% endblock %}
