{% extends 'base.html.twig' %}

{% block page_title %}{{ user.firstname }} {{ user.lastname }} Profile{% endblock %}
{% block title %}{{ user.firstname }} {{ user.lastname }} Profile{% endblock %}

{% block body %}
    <ul>
        <li>First name: {{ user.firstname }}</li>
        <li>Last name: {{ user.lastname }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Birthday: {{ user.birthday|date }}</li>
    </ul>
{% endblock %}
